<ul class="nav" role="menu">
    <!-- 홈 -->
    <li class="nav-home" role="menuitem">
        <a href="{{ site.baseurl }}">
            Home
        </a>
    </li>
    
    <li class="nav-home" role="menuitem">
        <a class="myStyle-font-weight-900" href="{{ site.baseurl }}tag/vue">
            Vue
        </a>
    </li>

    <!-- About -->
<!--    <li class="nav-about" role="menuitem">-->
<!--        <a href="{{ site.baseurl }}about/">-->
<!--            About-->
<!--        </a>-->
<!--    </li>-->

    <!-- Javascript -->
<!--    <li class="nav-js" role="menuitem">-->
<!--        <a href="{{ site.baseurl }}tag/javascript/">-->
<!--            Javascript-->
<!--        </a>-->
<!--    </li>-->

    <!-- Webpack -->
    <li class="nav-webpack" role="menuitem">
        <a class="myStyle-font-weight-900" href="{{ site.baseurl }}tag/webpack/">
            Webpack
        </a>
    </li>

    <!-- Typescript -->
<!--    <li class="nav-ts" role="menuitem">-->
<!--        <a href="{{ site.baseurl }}tag/typescript/">-->
<!--            Typescript-->
<!--        </a>-->
<!--    </li>-->

    <!-- Github Page -->
    <li>
        <a class="myStyle-font-weight-900" href="{{ site.baseurl }}tag/github-page">
            Github Page
        </a>
    </li>

    <!-- Post 작성 시간순으로 모든 Post 보기 -->
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">
            All Posts
        </a>
    </li>

    <!-- Tag별 Post 보기 -->
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">
            Tag별 Posts
        </a>
    </li>
</ul>
